/* clients */
.clients {
  padding: 30px 15px;
  color: var( --color-primary);
}

.clients__wrapper {
  display: grid;
  gap: $gap;
}

.clients__brands {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $gap;
}

/* .clients__brand {} */
